{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <!-- <div id="newPost" class="border border-dark p-4 rounded shadow-sm" style="width: 80%; margin: 0 auto; background-color: #f0f0f0;">
        <form method="post" action="{% url 'post' %}">
            {% csrf_token %}
            <h2 class="mb-4">New Post</h2>
            <div class="d-flex flex-column align-items-center">
                <input id="newPostBox" class="form-control mb-2" type="text" name="newPostBox" placeholder="Write your post...">
                <input type="hidden" name="network_user" value="{{ user.username }}">
                <button type="submit" id="newPostSubmit" style="align-self: flex-start;" class="btn btn-primary">Submit Post</button>
            </div>
        </form>
    </div> -->

    <div id="followPageHeader" style="margin: 40px;">
        <h2>Following</h2>
    </div>

    {% for post in page_obj %}
    <div id="postPage" class="border border-dark p-4 rounded shadow-sm" style="width: 80%; margin: 10px auto; background-color: #f0f0f0; padding: 10px;">
        <p>{{ post.text }}</p>
        <p>User: <a href="{% url 'user' post.user.id %}">{{ post.user.username }}</a></p>
        <p>{{ post.timeStamp }}</p>
        <button type="submit" id="postLike" class="post-like-button" data-post-id="{{ post.id }}" data-user-id="{{ post.user.id }}">
            {% if post in userLikes %}
                Unlike
            {% else %}
                Like 
            {% endif %}
        </button>
        <p id="postLikeCount-{{ post.id }}">Post Likes: {% if post.likeCount == None %}
            0
        {% else %}
            {{ post.likeCount }}
        {% endif %}</p>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if has_previous_page %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo; First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
            {% endif %}
    
            <li class="page-item disabled">
                <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </li>
    
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">Last &raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    

    

    {% if message %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            alert("{{ message|escapejs }}")
        });
    </script>
    {% endif %}

   
{% endblock %}

{% block script %}
<script src="{% static 'network/like.js' %}"></script>
{% endblock %}

