{% extends "network/layout.html" %}

{% block body %}

<div id="newPost" class="border border-dark p-4 rounded shadow-sm" style="width: 80%; margin: 0 auto; background-color: #f0f0f0;">
    <form method="post" action="{% url 'post' %}">
        {% csrf_token %}
        <h2 class="mb-4">New Post</h2>
        <div class="d-flex flex-column align-items-center">
            <input id="newPostBox" class="form-control mb-2" type="text" name="newPostBox" placeholder="Write your post...">
            <input type="hidden" name="network_user" value="{{ user.username }}">
            <button type="submit" id="newPostSubmit" class="btn btn-primary">Submit Post</button>
        </div>
    </form>
</div>

{% for post in page_obj %}

<div id="postPage" class="border border-dark p-4 rounded shadow-sm" style="width: 80%; margin: 10px auto; background-color: #f0f0f0; padding: 10px;">
    <p>{{ post.text }}</p>
    <p>User: {{ post.user }}</p>
    <p>{{ post.timeStamp }}</p>

</div>

{% endfor %}
{% for count in allPost.num_pages %}
<p>count</p>
{% endfor %}

{% if message %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        alert("{{ message|escapejs }}")
    });
</script>
{% endif %}

{% endblock %}
